# Gradle
.gradle/
build/
*/build/
!gradle-wrapper.jar

# Local configuration
local.properties
*.iml

# Ignore everything in .idea/
.idea/*

# macOS
.DS_Store

# Native builds
.externalNativeBuild/
.cxx/

# Keystore
*.jks
*.b64
encoded_keystore.txt
